@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    /* include the padding and border in an element's total width and height. */
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    /* main-axis */
    /* flex-direction: column; */
    /* how flex items are laid out along the cross axis on the current line. */
    align-items: center;
    /* This defines the alignment along the main axis.  */
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.key {
    display: inline-flex;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    margin: 30px 30px;
    background-color: bisque;
}

.key small {
    position: absolute;
    top: -24px
}