@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    /* include the padding and border in an element's total width and height. */
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: cornflowerblue;
    display: flex;
    /* how flex items are laid out along the cross axis on the current line. */
    align-items: center;
    /* This defines the alignment along the main axis.  */
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    background-color: white;
    padding: 30px 50px;
    border-radius: 5px;
    /* double layers shadow */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* 替代display:flex的用法 */
    text-align: center;
    /* 固定宽度，不然宽度会随内容的变化而变化 */
    width: 800px;
}

h1 {
    color: gray;
    opacity: 0.8;
    font-size: 1em;
    letter-spacing: 0.3rem;

}

.joke {
    letter-spacing: 1px;
    /* 调整行间距 */
    line-height: 40px;
    margin: 40px auto;
    flex-wrap: wrap;
}

#btn {
    cursor: pointer;
    background-color: blueviolet;
    border: 0;
    border-radius: 5px;
    color: white;
    /* padding: 10px; */
    padding: 14px 40px;
    font-size: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

/* 如果用focus的话会出现点击后不会弹回来 */
#btn:active {
    scale: 0.98;
}

.btn:focus {
    outline: 0;
}