@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    /* include the padding and border in an element's total width and height. */
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    display: flex;
    /* main-axis */
    flex-direction: column;
    /* how flex items are laid out along the cross axis on the current line. */
    align-items: center;
    /* This defines the alignment along the main axis.  */
    justify-content: center;
    overflow-x: hidden;
    margin: 0;
}

.box {
    background-color: cornflowerblue;
    border-radius: 20px;
    margin: 3px;
    width: 300px;
    height: 150px;
    /* 调整h2的位置 */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(400%);
}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
    transform: translateX(0);
}