@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    /* include the padding and border in an element's total width and height. */
    box-sizing: border-box;
}

body {
    background-color: rgb(161, 100, 223);
    font-family: 'Poppins', sans-serif;
    display: flex;
    /* how flex items are laid out along the cross axis on the current line. */
    align-items: center;
    /* This defines the alignment along the main axis.  */
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.btn {
    background-color: rebeccapurple;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 1rem;
    font-size: 1.5em;
    padding: 1.5rem 3rem;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}